@import '~style/util.scss';
.articleList{
    @include mainFrame;
    text-align: left;
    strong{
        font-weight:normal;
    }
    hr{
        background: #f7f5f5;
        border: none;
        height:px2rem(12);
        float: left;
        width: 100%;         
    }      
    .context1{
        margin: px2rem(48) px2rem(45) px2rem(0) px2rem(45);
        height: px2rem(485+48+56+36+34+48);
        img{
            width: px2rem(990);
            height: px2rem(485);
        }
        .new1{   
            margin: px2rem(48) auto px2rem(0) px2rem(72-45);
            .title1{ 
                height: px2rem(56);
                font-family: SourceHanSansCN-Regular;      
                color: #000000;
                font-size: px2rem(60);
            }
        }
        .new2{    
            .title2{
                height: px2rem(34);
                margin: px2rem(36) auto px2rem(48) px2rem(72-45);
                font-family: SourceHanSansCN-Regular;      
                color: #000000; 
                font-size: px2rem(36);
                float: left;
            }
            .img1{
                margin: px2rem(136-48-56) auto auto px2rem(1080-72-480-50-20-60-72-55);  
                float: left;   
                img{
                    width: px2rem(50);
                    height: px2rem(46);              
                }
            } 
            .number{
                height: px2rem(28);   
                font-family: SourceHanSansCN-Regular;      
                color: #333333; 
                font-size: px2rem(36);           
                margin:px2rem(130-48-56)  auto px2rem(60) px2rem(20);
                float: left;
            }          
        }
    }   
    .backgroundHr{
        background: #f7f5f5;
        width: 100%;
        height:px2rem(12);
        clear: left;
    }    
    .context2{
        width: 100%;
        height:px2rem(514);
        clear: all;     
        .Cont_left{
            float: left;
            .info1{
                width:px2rem(555) ; 
                height: px2rem(135);
                line-height: px2rem(135 / 2);
                margin:px2rem(84) px2rem(0) px2rem(0) px2rem(72) ; 
            }
            .info2{
                width:px2rem(594) ; 
                height: px2rem(110); 
                margin:px2rem(36) px2rem(0) px2rem(0) px2rem(72) ;  
                line-height: px2rem(110 / 2);    
            }
            span{          
                font-family: SourceHanSansCN-Regular;      
                color: #000000;
                font-size: px2rem(50) ;   
            }   
            strong{ 
                font-family: SourceHanSansCN-Regular;      
                color: #000000;
                font-size: px2rem(36);
            }  
        }  
        .Cont_right{
            float: left;
            margin-left: px2rem(40);
            margin-top: px2rem(514-308-62-38-46);
            img{
                width:px2rem(308) ;
                height: px2rem(308);  
            }      
        }
        .new3{       
            .title3{  
                float: left;
                height:px2rem(34) ;        
                margin:px2rem(60) px2rem(0) auto px2rem(72) ;    
                font-family: SourceHanSansCN-Regular;      
                color: #cccccc;
                font-size: px2rem(36);    
            }    
            img{
                float: left;
                width:px2rem(50);
                height: px2rem(46); 
                margin: px2rem(70) px2rem(0) auto px2rem(1080-72-154-50-20-60-72-100); 
            }
            .title4{
                height:px2rem(28) ;   
                float: left;
                font-family: SourceHanSansCN-Regular;      
                color: #333333;
                font-size: px2rem(36); 
                margin: px2rem(67) px2rem(72) auto px2rem(20); 
            }            
        }       
    }
    .foot{
        width: px2rem(457+165+458);
        height:px2rem(35+29+37);   
        background:#f7f5f5; 
        text-align: center;       
        strong{
            font-family: SourceHanSansCN-Regular;      
            color: #999999;
            font-size: px2rem(30);  
            line-height:px2rem(35+29+37);         
        }           
    }
}